<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Projects</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
        <span class="navbar-brand" href="#">Harold</span>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="{{ url_for('index') }}">About</a>
                <a class="nav-link active" href="{{ url_for('projects') }}">Projects</a>
                <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
            </div>
        </div>
    </nav>

    <!-- Project Title-->
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4" style="text-align:center">Harold's Projects</h1>
    </div>

    <div class="container">
        <!-- Project Card -->
        <div class="row justify-content-center">
            <div class="card-deck" style="width: 75%">
                <div class="card">
                    <img src="{{ url_for('static', filename='yelp.png') }}" class="card-img-top" alt="yelpsa">
                    <div class="card-body">
                        <h5 class="card-title">Yelp Review Sentiment Analysis</h5>
                        <p class="card-text">Multi-class sentiment analysis based on Yelp business review dataset using
                            Naive Bayes, Logistic Regression and LightGBM</p>
                    </div>
                    <div class="card-body">
                        <a href="{{ url_for('sareport') }}" class="card-link">Report</a>
                        <a href="{{ url_for('saform') }}" class="card-link">Example</a>
                    </div>
                </div>

                <div class="card">
                    <img src="{{ url_for('static', filename='pubg.jpg') }}" class="card-img-top" alt="pubg">
                    <div class="card-body">
                        <h5 class="card-title">PUBG Placement Prediction (Kaggle)</h5>
                        <p class="card-text">
                            Regression problem based on PUBG finish placement dataset using Lasso Regression, Random Forest,
                            XGBoost, SVM, etc.
                        </p>
                    </div>
                    <div class="card-body">
                        <a href="{{ url_for('pubgreport') }}" class="card-link">Report</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>